.down-arrow {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5c21ff;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 150ms;
  animation: up-down 2.5s ease-in-out infinite;
  span {
    font-size: 1.75rem;
    transition: 150ms;
  }
}
.down-arrow:hover {
  bottom: calc(30px - 0.25rem);
  animation-play-state: paused;
  span {
    font-size: 2.25rem;
  }
}

@media (max-width: 40rem) {
  .down-arrow {
    display: none;
  }
}

@keyframes up-down {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 40px;
  }
}