.box {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(calc(100% + 2rem));
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 5px;
  }
  font-weight: 300;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 25px rgba($color: #000000, $alpha: 0.1);
  border-radius: 5px;
  padding: 5px;

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 15ch;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  li:hover {
    background-color: #eeeeee;
  }
  li:active {
    background-color: #dddddd;
  }
}